
h1,
button {
  font-family: 'Merriweather', serif;
}

label,
p,
legend,
input:required {
  font-family: 'Raleway', serif;
}

.main-header {
  background-color: #09547d;
  width: 100%;
  margin-bottom: 10px;
}

body {
  margin: 0px;
}

.main-header h1 {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.main-info {
  border-bottom: 4px solid #09547d;
}

.copyright {
  font-style: italic;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.main-form {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
}

.input-field {
  background-color: #e8e8e8;
  border-style: hidden;
  padding: 10px;
  width: 100%;
  margin-left: -10px;
}

select,
option,
p {
  color: grey;
}

button {
  background-color: #47a7a7;
  color: white;
  font-size: 1em;
  border-style: hidden;
  padding: 1.35rem;
  text-align: center;
  width: 100%;
  margin-left: -10px;
}

.border {
  border-top: 2px solid #09547d;
  margin-top: 3px;
}

input[name="zip-code"] {
  width: 50%;
}

.checkbox label,
.radio label {
  display: flex;
  flex-direction: row;
}

.check input{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

#html_news {
  display: flex;
  flex-direction: row;
}

fieldset {
  border: none;
  display: flex;
}

label {
  padding: 9px 0px;
}

legend {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.25em;
  font-weight: bolder;
}
