
* {
  box-sizing: border-box;
}

h1,
button {
  font-family: 'Merriweather', serif;
}

label,
p,
legend,
input:required {
  font-family: 'Raleway', serif;
}

.main-header {
  background-color: #09547d;
  width: 100%;
  margin-bottom: 10px;
}

body {
  margin: 0px;
  line-height: 1;
}

.wrapper {
  padding: 20px;
}

.main-header h1 {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.main-info {
  border-bottom: 4px solid #09547d;
}

.copyright {
  font-style: italic;
}

footer {
  padding-bottom: 100px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

textarea {
  margin: .5em 0 2em;
}



.main-form {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
}

.input-field {
  background-color: #e8e8e8;
  border-style: hidden;
  padding: 10px;
  width: 100%;
}

textarea,
input {
  align-self: center;
}

select,
option,
p {
  color: grey;
}

button {
	background-color: #47a7a7;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
	border: #4dbbb5;
	width: 100%;
	border-radius: 5px;
  padding: 20px;
  margin-bottom: 1em;
}

.newsletter {
  padding-bottom: 0;
}

.border {
  border-top: 2px solid #09547d;
  margin-top: 3px;
}

input[name="zip-code"] {
  width: 50%;
  align-self: flex-start;
}

.checkbox label,
.radio label {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

.checkbox {
	display: inline-block;
	cursor: pointer;
}

.checkbox:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align:middle;
	background-color: #eeeff1;
	color: #f3f3f3;
  border-radius: 5px;
  margin: 0 20px 2px 0;
}

input[type=checkbox]:checked + .checkbox:before {
	font-family: 'FontAwesome';
	content: "\f00c";
	border: 2px solid #17E5D6;
	border-radius: 5px;
	color: #17E5D6;
	text-align: center;
	line-height: 1.3;
	font-size: .8em;
	width: 18px;
	height: 18px;
	margin-right: 18px;
}

[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #eeeff1;
  box-shadow: 0 0 0 2px #eeeff1;
  margin: 0 20px 4px 0;
  -webkit-transition: box-shadow 0.5s ease, background-color 0.3s ease;
  transition: box-shadow 0.5s ease, background-color 0.3s ease;
  cursor: pointer;
}

[type="radio"]:checked + span:before {
  border: 4px solid white;
  background: #17E5D6;
  box-shadow: 0 0 0 2px #17E5D6;
  width: 10px;
  height: 10px;
  margin: 0 20px 0 -2px;
}

select option[data-default] {
  color: #888;
}

#html_news {
  display: flex;
  flex-direction: row;
}

fieldset {
  border: 0;
	margin: 0 auto;
	padding: 0;
  display: flex;
}

label {
  padding: 9px 0px;
}

legend {
  padding: .5em 0;
  font-size: 1.5em;
  line-height: 2;
  font-weight: bolder;
  text-align: left;
}

input,
select,
textarea {
  width: 100%;
	border-radius: 5px;
	background-color: #eeeff1;
	border: 3px solid #eeeff1;
	padding: 20px !important;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 800px;
  }

  .info label {
    width: 25%;
    float: left;
    margin: 20px 0;
  }

  .info input,
  .info select {
    width: 75%;
    float: right;
    margin: 10px 0;
  }

  .info {
    display: inline;
  }

  input[name="zip-code"] {
    width: 25%;
    align-self: flex-start;
  }

}
